<table border="1" class="static-table">
    <tr>
        <th colspan="3">$locationName</th>
    </tr>
    #if ($entityTypes.isEmpty())
        <tr>
            <td>No matching entities found in this location</td>
        </tr>
    #else
        <tr>
            <th>Type</th>
            <th>Count</th>
            <th>Par</th>
        </tr>
        #foreach( $type in $entityTypes )
            <tr>
                <td>$type.name</td>
                <td>$type.count</td>
                <td>
                    #if (!$type.parMax)
                        Not Defined
                    #else
                        #if ($type.count < $type.parMin)
                            <img src="/snap-in/example/parlevels/web/icons/low.png" title=""/>
                        #elseif ($type.count > $type.parMax)
                            <img src="/snap-in/example/parlevels/web/icons/high.png"/>
                        #else
                            <img src="/snap-in/example/parlevels/web/icons/par.png"/>
                        #end
                        $type.parMin - $type.parMax
                    #end
                </td>
            </tr>
        #end
    #end
</table>